[defaults]
force_color         = True
force_handlers      = True
inventory           = hosts
nocows              = 1
roles_path          = vendor/roles
collections_path    = vendor/collections
pipelining          = True
vault_password_file = .vault_pass
